{% extends 'feats/base.html' %}
{% load bootstrap4 %}

{% block title %}Feat Filter (Alpha){% endblock %}

{% block content %}

    {% block feats %}
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-5">
                        <div class="card">
                            <div class="list-group list-group-flush" id="feat-list">
                                {% for feat in feat_list %}
                                    <a href="#"
                                       class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ feat.name }}</h5>
                                            <small>{{ feat.feat_type.name }}</small>
                                        </div>
                                        <small class="mb-1">{{ feat.description }}</small>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-">
                        <div id="feat-details">
                            Some details
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}

{% endblock %}

