{% extends 'feats/base.html' %}

{% block title %}Feat Filter (Alpha){% endblock %}

{% block content %}
    {% block filter %}
        <div class="panel">
            <form action="#" method="post" id="feat-filter-form">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-2 col-xs-2">
                        <label for="{{ char_form.ch_lvl.id_for_label }}">{{ char_form.ch_lvl.label }}</label>
                        <input type="number"
                               class="form-control"
                               id="{{ char_form.ch_lvl.id_for_label }}"
                               name="{{ char_form.ch_lvl.html_name }}"
                               value="{{ char_form.ch_lvl.value }}">
                    </div>
                    <div class="form-group col-md-2 col-xs-2">
                        <label for="{{ char_form.ch_bab.id_for_label }}">{{ char_form.ch_bab.label }}</label>
                        <input type="number"
                               class="form-control"
                               id="{{ char_form.ch_bab.id_for_label }}"
                               name="{{ char_form.ch_bab.html_name }}"
                               value="{{ char_form.ch_bab.value }}">
                    </div>
                    <div class="form-group col-md-3 col-xs-3">
                        <label for="{{ char_form.ch_class.id_for_label }}">{{ char_form.ch_class.label }}</label>
                        <select class="form-control"
                                name="{{ char_form.ch_class.html_name }}"
                                id="{{ char_form.ch_class.id_for_label }}">
                            {% for option in char_form.ch_class %}
                                {{ option }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-3 col-xs-3">
                        <label for="{{ char_form.ch_race.id_for_label }}">{{ char_form.ch_race.label }}</label>
                        <select class="form-control"
                                name="{{ char_form.ch_race.html_name }}"
                                id="{{ char_form.ch_race.id_for_label }}">
                            {% for option in char_form.ch_race %}
                                {{ option }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-2 col-xs-2">
                        <label for="{{ char_form.feat_type.id_for_label }}">{{ char_form.feat_type.label }}</label>
                        <select class="form-control alert-info m-select"
                                multiple="multiple"
                                name="{{ char_form.feat_type.html_name }}"
                                id="{{ char_form.feat_type.id_for_label }}">
                            {% for option in char_form.feat_type %}
                                {{ option }}
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6 col-xs-6">
                        <label for="{{ char_form.ch_feats.id_for_label }}">
                            {{ char_form.ch_feats.label }}
                        </label>
                        <select class="m-select form-control"
                                multiple="multiple"
                                id="{{ char_form.ch_feats.id_for_label }}"
                                name="{{ char_form.ch_feats.html_name }}">
                            {% for option in char_form.ch_feats %}
                                {{ option }}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-6 col-xs-6">
                        <label for="{{ char_form.ch_traits.id_for_label }}">
                            {{ char_form.ch_traits.label }}
                        </label>
                        <select class="m-select form-control"
                                multiple="multiple"
                                id="{{ char_form.ch_traits.id_for_label }}"
                                name="{{ char_form.ch_traits.html_name }}">
                            {% for option in char_form.ch_traits %}
                                {{ option }}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2 col-xs-2">
                        <label for="{{ char_form.ch_str.id_for_label }}">{{ char_form.ch_str.label }}</label>
                        <input type="number"
                               class="form-control"
                               id="{{ char_form.ch_str.id_for_label }}"
                               name="{{ char_form.ch_str.html_name }}"
                               value="{{ char_form.ch_str.value }}">
                    </div>
                    <div class="form-group col-md-2 col-xs-2">
                        <label for="{{ char_form.ch_dex.id_for_label }}">{{ char_form.ch_dex.label }}</label>
                        <input type="number"
                               class="form-control"
                               id="{{ char_form.ch_dex.id_for_label }}"
                               name="{{ char_form.ch_dex.html_name }}"
                               value="{{ char_form.ch_dex.value }}">
                    </div>
                    <div class="form-group col-md-2 col-xs-2">
                        <label for="{{ char_form.ch_con.id_for_label }}">{{ char_form.ch_con.label }}</label>
                        <input type="number"
                               class="form-control"
                               id="{{ char_form.ch_con.id_for_label }}"
                               name="{{ char_form.ch_con.html_name }}"
                               value="{{ char_form.ch_con.value }}">
                    </div>
                    <div class="form-group col-md-2 col-xs-2">
                        <label for="{{ char_form.ch_int.id_for_label }}">{{ char_form.ch_int.label }}</label>
                        <input type="number"
                               class="form-control"
                               id="{{ char_form.ch_int.id_for_label }}"
                               name="{{ char_form.ch_int.html_name }}"
                               value="{{ char_form.ch_int.value }}">
                    </div>
                    <div class="form-group col-md-2 col-xs-2">
                        <label for="{{ char_form.ch_wis.id_for_label }}">{{ char_form.ch_wis.label }}</label>
                        <input type="number"
                               class="form-control"
                               id="{{ char_form.ch_wis.id_for_label }}"
                               name="{{ char_form.ch_wis.html_name }}"
                               value="{{ char_form.ch_wis.value }}">
                    </div>
                    <div class="form-group col-md-2 col-xs-2">
                        <label for="{{ char_form.ch_cha.id_for_label }}">{{ char_form.ch_cha.label }}</label>
                        <input type="number"
                               class="form-control"
                               id="{{ char_form.ch_cha.id_for_label }}"
                               name="{{ char_form.ch_cha.html_name }}"
                               value="{{ char_form.ch_cha.value }}">
                    </div>
                </div>

                {#        <div class="form-check">#}
                {#            <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
                {#            <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
                {#        </div>#}
                <div class="form-row">
                    <div class="col-md-4 col-md-offset-8">
                        <button type="submit" class="btn btn-primary">Apply</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}

    {% block feats %}
        <div class="main panel">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-xs-5">
                        <div class="list-group list-group-flush flex-column" id="feat-list"
                             style="overflow-y: auto; max-height: 65vh">
                            {% for feat in feat_list %}
                                <a href="#"
                                   class="feat-item list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="justify-content-between row">
                                        <h4 class="list-group-item-heading col-md-6">{{ feat.name }}</h4>
                                        <small class="list-group-item-info col-md-3 col-lg-offset-3">{{ feat.feat_type.name }}</small>
                                    </div>
                                    <p class="list-group-item-text">{{ feat.description }}</p>
                                    <input class="feat-id" hidden="hidden" value="{{ feat.pk }}">
                                </a>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="col-md-7 col-xs-7">
                        <div id="feat-details">
                            Some details
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}



    <script type="text/javascript">
        $(document).ready(function () {
            $(".feat-item").click(function () {
                var featId = $(this).find(".feat-id")[0].value;
                $.getJSON("/feats/api/feats/" + featId + "?format=json", function (json) {
                    $("#feat-details").html(json.html_text)
                });
            });
            $(".m-select").multiselect({
                enableFiltering: true,
                inheritClass: true,
                buttonContainer: '<div/>',
                maxHeight: 400
            });

        })
    </script>

{% endblock %}

